In [2]:
%%writefile zoo.py
'''
11.1 
I used the writefile comand of jupyterr to keep the homework in just one single file,
I had some trouble making it work, 
'''
def hours(): #function, this wil lbe imported to the next cell to get printed there.
    print("Open 9-5 daily")

Overwriting zoo.py

In [5]:
import zoo

zoo.hours()

Open 9-5 daily

In [6]:
'''
11.2
'''
from zoo import hours
hours()

Open 9-5 daily

In [13]:
%%writefile books2.csv

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China MiÃ©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

Overwriting books2.csv

In [2]:
'''
16.4
creation of database in sqlite3
'''

import sqlite3

#create batabase for books
conn = sqlite3.connect('books.db')

#cursor object, executes sql queries
curs = conn.cursor()

#table definition, and cration of the table 
curs.execute('''CREATE TABLE books (title VARCHAR(150) PRIMARY KEY, 
author VARCHAR(80), year INT)''')

OperationalError: table books already exists

In [19]:
'''
16.5
'''

import pandas
import sqlite3

#connect to data base
conn = sqlite3.connect('books.db')

#create cursor for the SQL queries
curs = conn.cursor()

#Read books.csv
file = pandas.read_csv('books2.csv')

#write data to database
file.to_sql('books', conn, if_exists='append', index = False)

5